* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: sans-serif;
}
.header_nav {
    display: flex;
    justify-content: space-between;
    padding: 35px;
}
.header_nav_menu_ul {
    display: flex;
    gap: 25px;
}
.container {
    max-width: 85%;
    width: 100%;
    margin: 0 auto;
}
.header_nav_menu_ul_li a {
    color: #737373;
}
.header_kovrf_left_text {
    font-size: 50px;
    line-height: 100%;
    letter-spacing: 2px;
}
.header_kovrf_left_btn {
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 2px;
    color: white;
    background: linear-gradient(to right , #B90160 , #2E3192);
    width: 179px;
    height: 53px;
    border: none;
    border-radius: 7px;
    margin-top: 58px;
}
.header_kovrf {
    display: flex;
    justify-content: center;
    align-items: center;
}
.main_title {
    font-size: 50px;
    text-align: center;
}

 .main_title_span {
  font-size: 60px;
  font-weight: bold;

  background: linear-gradient(to top, red, blue);
  background-clip: text;
  -webkit-background-clip: text;

  color: transparent;
  -webkit-text-fill-color: transparent;

  display: inline-block;
}
.main_card1_title {
    font-size: 36px;
    line-height: 100%;
    letter-spacing: 2px;
    margin-left: 22px;
    margin-bottom: 50px;
    margin-top: 20px;
}
.main_card1_description {
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0px;
    margin-left: 22px;
    color: #767676;
}
.main_card1 {
    height: 414px;
    width: 344px;
    background-color: #ffffff;
    box-shadow: 1px 1px 20px 1px rgb(128, 39, 128);
}
.main_cards {
    margin-top: 75px;
    display: flex;
    gap: 100px;
}

.main_section {
    background: linear-gradient(to right, #D4145A, #2E3192);
    width: 100%;
    height: 357px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 100px;
    margin-bottom: 100px;
}

.main_section_card_description {
    width: 436px;
    height: 187px;
    background-color: white;
    text-align: center;
    padding-top: 65px;
    font-size: 18px;
    border-radius: 9px;
    box-shadow: 1px 1px 30px 1px #00000040;
    position: relative;
}
.main_section_card_img {
    position: absolute;
    top: -90px;
    left: 50%;
    transform: translateX(-50%);
}
.main_section_cards {
    gap: 40px;
    display: flex;
    flex-wrap: wrap;
}
.footer_social {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.footer_social_ul_li {
    margin-bottom: 20px;
}